name: CI

on: push

env:
  DATABASE_PASSWORD: passwordless

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Build
        uses: ./.github/actions/build
        env:
          RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
          RELEASE_APP_PEM: ${{ secrets.RELEASE_APP_PEM }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Lint
        uses: ./.github/actions/lint
        env:
          RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
          RELEASE_APP_PEM: ${{ secrets.RELEASE_APP_PEM }}

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Test
        uses: ./.github/actions/test
        with:
          min_coverage: "80"
        env:
          DATABASE_PASSWORD: ${{ env.DATABASE_PASSWORD }}
          RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
          RELEASE_APP_PEM: ${{ secrets.RELEASE_APP_PEM }}

  security:
    name: Security
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Security
        uses: ./.github/actions/security
        env:
          RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
          RELEASE_APP_PEM: ${{ secrets.RELEASE_APP_PEM }}

  pack:
    name: Pack and Upload
    runs-on: ubuntu-latest
    needs: [build, lint, test, security]
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Pack and Upload
        uses: ./.github/actions/pack
        env:
          RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
          RELEASE_APP_PEM: ${{ secrets.RELEASE_APP_PEM }}
